@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

body {
  opacity: 1;
  transition: 2s;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#name {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2em;
  position: fixed;
  top: 90%;
  right: 10%;
  /* width: 100%; */
  text-align: right;
  z-index: 100;
  display: block;
  color: white;
  text-decoration: none;
}

.gitHub {
  height: 100%;
  /* background-image: url("../static/img/GitHub.png"); */
  position: fixed;
  top: 89%;
  right: 4%;
  width: 100%;
  text-align: right;
  z-index: 100;
  display: block;
  color: white;
}