@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

body {
  opacity: 1;
  transition: 2s;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.thesis {
  font-family: 'Bebas Neue', cursive;
  position: fixed;
  top: 89%;
  left: 3%;
  z-index: 100;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.gitHub {
  height: 100%;
  position: fixed;
  top: 89%;
  right: 3%;
  width: 100%;
  text-align: right;
  z-index: 100;
  display: block;
  color: white;
}

.vimeo {
  transform: scale(0.7, 0.7);
  width: 100%;
  height: auto;
  position: fixed;
  top: 86%;
  right: -5%;
  text-align: right;
  z-index: 100;
  display: block;
  color: white;
}

#controls {
  font-family: 'Bebas Neue', cursive;
  position: fixed;
  top: 4%;
  width: 100%;
  text-align: center;
  z-index: 100;
  color: white;
}

#startButton {
  font-family: 'Bebas Neue', cursive;
  font-size: 0.8em;
  position: fixed;
  top: 4%;
  width: 6%;
  height: 5%;
  right: 4%;
  text-align: center;
  z-index: 100;
  color: white;
  background-color: black;
}

@media only screen and (max-width: 800px) {
  .gitHub {
    transform: scale(0.9, 0.9);
    height: 100%;
    /* position: fixed; */
    top: 83%;
    right: -2%;
    width: 100%;
    text-align: right;
    z-index: 100;
    display: block;
    color: white;
    bottom: 6%;
  }

  .vimeo {
    transform: scale(0.5, 0.5);
    width: 100%;
    height: auto;
    /* position: fixed; */
    top: 85%;
    right: -4%;
    text-align: right;
    z-index: 100;
    display: block;
    color: white;
    bottom: 3%;
  }

  #startButton {
    /* font-family: 'Bebas Neue', cursive;
    font-size: 0.6em;
    position: fixed;
    top: 4%;
    width: 15%;
    height: 5%;
    right: 4%;
    text-align: center;
    z-index: 100;
    color: white;
    background-color: black; */
    display: none;
  }

  .thesis {
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    position: fixed;
    top: 89%;
    left: 3%;
    z-index: 100;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 0.8em;
  }
}